<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.cos.data.dao.UserDAO">
 
    <select id="selectUsers" parameterType="com.cos.data.dto.UserDTO" resultType="com.cos.data.dto.UserDTO"> 
        SELECT * FROM xpudata
    </select>
    
    <select id="selectUsers2" parameterType="com.cos.data.dto.UserDTO" resultType="com.cos.data.dto.UserDTO"> 
        SELECT time FROM xpudata WHERE type ='C'
    </select>
</mapper>